node_modules
.DS_Store
dist
dist-ssr
yarn.lock
*.local

.DS_Store
build/
build.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.history
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
yarn-error.log
package-lock.json
node_modules/
dist/
dist.zip